h1 {
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-size: 70px;
display: flex;
justify-content: center;
}
body {
  background-color: #39a9cb;
}
#container {
  display: flex;
  justify-content: center;
}
#picture {
  width: 500px;
}
.btn {
  background-color: #ffeda3;
  border: none;
  color: black;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

